@import '../../style/variables.scss';

.app {
    &__banner {
        width: 100%;
        background-color: $dark;
        height: 100px;
        padding: 0 25px 0 45px;
        display: grid;
        grid-template-columns: 152px auto 133px;
        &-text {
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            color: #FFFFFF;
            padding-left: 83px;
            padding-top: 18px;
        }
    }
}

@media (max-width: 768px) {
    .app {
        &__banner {
            padding: 0;
            justify-items: center;
            align-items: center;
            img{
                width: 130px;
            }
            &-text {
                font-size: 16px;
                line-height: 22px;
                color: #FFFFFF;
                padding: 12px 5px;
            }
        }
    }
}

@media (max-width: 480px) {
    .app {
        &__banner {
            padding: 0;
            justify-items: center;
            align-items: center;
            grid-template-columns: auto auto;
            :last-child{
                display: none;
            }
            img{
                width: 150px;
            }
            &-text {
                font-size: 16px;
                line-height: 20px;
                color: #FFFFFF;
                padding-left: 10px;
            }
        }
    }
}